:root {
    --beige: #F7F1ED;
    --light-red: #F4E2D6;
    --dark-red: #98002E;
    --brown: #413939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: var(--brown);
    font-size: 16px;
    list-style: none;
}

body {
    display: grid;
    background-color: var(--beige);
}

img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.btn {
    padding: .25rem .75rem .25rem .75rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-size: .75rem;
    font-weight: 400;
}

.btn-beige {
    background-color: var(--beige);
}

.btn-red {
    background-color: var(--dark-red);
    color: white;
    border: none;
    padding: 1rem 5rem 1rem 5rem;
    font-size: 1.25rem;
}

.body-layout {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "news-posts"
        "about-us"
        "footer"
    ;

}

header {
    width: 100%;
    max-width: 1400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 2rem 2rem 4rem 2rem;
    grid-area: header;
}

.header-logo {
    width: 70%;
    height: auto;
}

.menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.nav-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-title {
    font-size: 2rem;
    font-weight: 400;
}

.nav-list {
    gap: 1rem;
}

.news-posts {
    flex-direction: column;
    max-width: 100%;
    grid-area: news-posts;
    padding: 0 2rem 4rem 2rem;
}

.post {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 4rem;
}

.post-title {
    font-size: 1.25rem;
}

.line {
    margin-bottom: 4rem;
    display: inline-block;
    border: 1px solid var(--dark-red);
}

.about-us {
    grid-area: about-us;
    background-color: var(--light-red);
    padding: 8rem 2rem 4rem 2rem;
}

.about-box-img {
    padding-bottom: 4rem;
}

.about-box {
    padding-bottom: 3rem;
}

.about-box-title {
    padding-bottom: 2rem;
    font-size: 1.25rem;
}

.about-box-paragraph {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer-main {
    grid-area: footer;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark-red);
    padding: 2rem 6rem 2rem 6rem;

}

.footer-main>img {
    width: 80%;
}

.footer-main>h3 {
    color: white;
}

.hidden-mobile {
    display: none;
}

.post-1 {
    grid-area: post-1;
}

.post-2 {
    grid-area: post-2;
}

.post-3 {
    grid-area: post-3;
}

.post-4 {
    grid-area: post-4;
}

.post-5 {
    grid-area: post-5;
}

@media screen and (min-width: 1320px) {
    .hidden-mobile {
        display: block;
    }

    header {
        flex-direction: row;
        padding-top: 4rem;
    }

    .computer {
        max-width: 30%;
    }

    .header-logo {
        max-width: 70%;
    }

    .menu {
        align-items: flex-start;
    }

    .nav-main {
        align-items: flex-start;
    }

    .news-posts {
        display: grid;
        grid-template-columns: 1fr 1fr .75fr;
        grid-template-areas:
            "post-1 post-2 post-2"
            "post-1 post-2 post-2"
            "post-3 post-4 post-5"
        ;
        gap: 2rem;
    }

    .line {
        display: none;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-box-img {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .about-box-img>img {
        width: 100%;
        justify-content: center;
    }

    .about-box {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .footer-main>img {
        max-width: 40%;
    }
}

@media screen and (min-width: 1920px) {
    .news-posts {
        grid-template-columns: .75fr 1fr 1fr;
        grid-template-areas:
            "post-1 post-2 post-3"
            "post-5 post-4 post-4"
        ;
    }

    .post {
        max-height: 50%;
    }

    .news-posts>img {
        max-height: 40%;
    }

    .post-2>img,
    .post-3>img {
        height: 100%;
        width: 100%;
    }

    .post-4 {
        flex-direction: row;
        gap: 0;
        padding: 0;
    }

    .content {
        flex-direction: column;
        background-color: var(--dark-red);
        padding: 2rem;
        height: fit-content;
    }

    .content>h2 {
        color: white;
    }

    .content>p {
        color: white;
    }
}